<app-email-sesion></app-email-sesion>

<div *ngIf="!nuevoUsuario">


  <button class="btn btn-lg btn-warning btn-block"  (click)="hacerNuevoUsuario()">Nuevo Usuario</button>


</div>
<div *ngIf="nuevoUsuario">
  <form [formGroup]="altaForm" class="modal-content animate" (ngSubmit)="crearUsuario()" >
    <div class="container">
      <label><b>Email:</b></label>
      <input type="email" [(ngModel)]="nuevoUsuario.email" placeholder="email" [formControl]="email" required>
      <label>Password:
        <input type="password" [(ngModel)]="nuevoUsuario.password" placeholder="password" [formControl]="password" required>
      </label>
      <label><b>Tipo:</b></label>
      <select [(ngModel)]="nuevoUsuario.tipo"  [formControl]="tipo" required>
        <option value="cliente">Cliente</option>
        <option value="administrador">Administrador</option>
      </select>
      <div>
        <button type="submit" [disabled]="!altaForm.valid">Crear</button>
      </div>
    </div>
  </form>
  </div>
